*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 13px;
}

body {
	margin: 0;
	--color-text: #111;
	--color-bg: #f1f2f6;
	--color-link: #000;
	--color-link-hover: #000;
	--color-menu: #2f3542;
	--color-menu-hover: #ffeba7;
	color: var(--color-text);
	background-color: var(--color-bg);
	--cursor-stroke: #102770;
    --cursor-fill: #102770;
    --cursor-stroke-width: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Muli', sans-serif;
	overflow-x: hidden;
}
.logo-back {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-image: url('logo-back.229e1743.png');
	background-size: auto 80%;
	background-position: 5% center;
	background-repeat: no-repeat;
	opacity: 0.2;
	pointer-events: none;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	border-radius: 50%;
	opacity: 0.3;
	background: var(--color-menu-hover);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}



.menu {
	padding: 8rem 0 10vh 0;
	width: 90vw;
	position: relative;
	display: flex;
	flex-direction: column;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	counter-reset: menucounter;
	z-index: 2;
}

.size-22 {
	font-size: 22px;
}

.menu__item {
	flex: none;
	display: flex;
	justify-content: flex-start;
	position: relative;
	padding-left: 2.3rem;
}
.menu__item-h1 {
	flex: none;
	display: flex;
	justify-content: flex-start;
	position: relative;
	padding-left: 3rem;
	color: #102770;
	line-height: 1.4;
	margin-bottom: 40px;
	font-weight: 800;
	opacity: 0.8;
}
.menu__item-h3 {
	position: relative;
	padding-left: 3rem;
	color: #6579b5;
	line-height: 2;
	font-weight: 800;
	padding-top: 15vh;
	font-size: 17px;
}
.menu__item-h3 a {
	color: #e67971;
	transition: all 0.2s linear;
}
.menu__item-h3 a:hover {
	color: #ff9f43;
}


.menu__item::before {
	counter-increment: menucounter;
	content: counters(menucounter, ".", decimal-leading-zero);
	position: absolute;
	left: 0;
	border-left: 3px solid currentColor;
	top: 20%;
	height: 60%;
	padding-left: 1rem;
	display: flex;
	align-items: center;
	line-height: 1;
	font-weight: bold;
	opacity: 0;
	transform: translateX(-1rem);
	transition: transform 0.3s, opacity 0.3s;
}

.menu__item:hover::before {
	opacity: 1;
	transform: translateX(0);
}

.menu__item-text {
	position: relative;
	cursor: pointer;
	padding: 0.5rem;
	display: block;
	overflow: hidden;
	font-size: 5vw;
	margin: 5px 0;
}

.menu__item-textinner {
	display: block;	
	font-family: 'Muli', sans-serif;
	font-weight: 800;
	white-space: nowrap;
}
.menu__item-textinner span {
	color: var(--color-menu);
	transition: all 200ms linear;
}

.js .menu__item-textinner {
	transform: translateY(100%);
}

.menu__item:hover .menu__item-textinner span{
	color: var(--color-menu-hover);
}

.menu__item-sub {
	display: none;
	text-transform: uppercase;
	font-weight: 900;
	white-space: nowrap;
	align-items: center;
	position: relative;
	margin-left: 2rem;
	padding-left: 3rem;
	opacity: 0;
	transform: translateX(-1rem);
	transition: transform 0.3s, opacity 0.3s;
	line-height: 20px;
}

.menu__item:hover .menu__item-sub {
	opacity: 1;
	transform: translateX(0);
}

.menu__item-sub::before {
	content: '';
	position: absolute;
	left: 0;
	top: 15%;
	width: 1px;
	height: 70%;
	background: currentColor;
	transform-origin: 0 100%;
	transform: rotate(22.5deg) scale3d(1,0,1);
	transition: transform 0.3s;
}

.menu__item:hover .menu__item-sub::before {
	transform: rotate(22.5deg) scale3d(1,1,1);
}

.hover-reveal {
	position: absolute;
	z-index: -1;
	width: 360px;
	height: 220px;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
}

.hover-reveal__inner {
	overflow: hidden;
	border-radius: 6px;
}

.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100%;
	position: relative;
}

.hover-reveal__img {
	background-size: cover;
	background-position: 50% 50%;
}

.cursor {
	display: none;
}

.credits {
	align-self: flex-start;
	padding: 5rem 0 0 0;
}

.credits a {
	text-decoration: underline;
}

.frame {
	top: 0;
	padding: 1rem 2.5rem;
	position: fixed;
	z-index: 1000;
	background: rgba(241,242,246,.9);
	width: 100%;
	z-index: 10;
	display: block;
}
.frame__links {
	position: relative;
	display: inline-block;
	margin: 0;
	float: right;
}
.frame__links:after {
  content: '';
  display: table;
  clear: both;
}

.frame__links a {
	position: relative;
	transition: all 0.2s linear;
	font-size: 14px;
	height: 44px;
	padding: 0 7px;
	letter-spacing: 0;
	font-weight: 700;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	border: none;
	float: left;
}
.frame__links a:hover,
.frame__links a:focus {
	color: #102770;
	opacity: 0.7;
}

[class^=uil-]:before, [class*=" uil-"]:before {
    margin-right: 0;
    margin-left: 0;
	width: 24px;
}

.uil {  
	width: 24px;
}

.margin-icon-right{  
	margin-right: 7px;
}

.color-red {  
	color: #ff6b6b;
}


@media screen and (max-width: 991px) {
	.frame__links a {
		padding: 0 3px;
		font-size: 12px;
		letter-spacing: 0;
	}
	.frame {
	}
	.frame__links {
		float: left;
	}
	.size-22 {
		font-size: 18px;
	}
	.margin-icon-right{  
		margin-right: 3px;
	}
	.menu__item-h3 {
		font-size: 15px;
	}
}



@media screen and (min-width: 53em) {
	.menu {
		padding: 15vh 0 20vh 0;
		width: 100vw;
	}
	.menu__item-h1 {
    	padding-left: 15vw;
    	justify-content: initial;
		width: 70vw;
		font-size: 2vw;
		margin-bottom: 70px;
    }
	.menu__item-h3 {
    	padding-left: 15vw;
    	justify-content: initial;
		width: 70vw;
		padding-top: 15vh;
    }
	.menu__item {
    	padding-left: 15vw;
    	justify-content: initial;
		transition: all 200ms linear;
    }
	.menu__item:hover {
		background-color: rgba(0,0,0,.03);
	}
	.menu__item-text {
		padding: 15px 0;
		font-size: 3vw;
		border-radius: 3px;
		text-shadow: 1px 1px 0px var(--color-menu);
	}
	.menu__item:hover {
	}
	.menu__item-sub {
		display: flex;
	}
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		z-index: 1000;
		mix-blend-mode: difference;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
	}
	.credits {
		padding-left: 25vw;
	}
}

/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
	overflow: hidden; 
}
  
html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
  
.has-scroll-smooth body {
	overflow: hidden; 
}
  
.has-scroll-smooth [data-scroll-container] {
	min-height: 100vh; 
}
  
.c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 100vh;
	transform-origin: center right;
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0; 
}
.c-scrollbar:hover {
	transform: scaleX(1.45); 
}
.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
	opacity: 1; 
}
  
.c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab; 
}
.has-scroll-dragging .c-scrollbar_thumb {
	cursor: -webkit-grabbing;
	cursor: grabbing; 
}